html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

/* nav styles */
.menu {
    background-color: #0d0950;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
}

.nav-links {
    width: 100%;
    display: none;
    margin: 0;
}
:has(.menu[aria-expanded="true"]) .nav-links {
     display: unset;
}

.nav-links li {
    list-style: none;
    display: inline-block;
}
.nav-links a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #0d0950;
}
.nav-links a:hover,
.nav-links a:focus {
    background-color: #ff9776;
}
.nav-links [aria-current] {
    text-shadow: 0 0 5px grey;
}

@media screen and (min-width: 636px) {
    .nav-links {
        display: flex;
        justify-content: space-around;
        margin-left: 5em;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .menu {
        display: none;
    }
}

/* Blog post styles */
.blogPostImage {
    width: 300px;
    float: left;
    margin: 0 1rem 1rem 0;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    list-style: none;
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
}

.tag a {
    color: #00539F;
}
