---
import {getCollection} from 'astro:content';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await getCollection("blog");

const pageTitle = "My Astro Learning Blog";
---
<BaseLayout pageTitle={pageTitle} currentPage="Blog">
    <p>This is where I will post about my journey learning Astro.</p>

    <ol reversed>
      {allPosts.reverse().map((post: any) =>
        <BlogPost url={`/posts/${post.id}/`} data={post.data} />
      )}
    </ol>
</BaseLayout>
