---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager: true}));

const pageTitle = "My Astro Learning Blog";
---
<style is:global>
    .blogPostImage {
        width: 100px;
        float: left;
    }
    li {
        clear: both;
    }
</style>
<BaseLayout pageTitle={pageTitle} currentPage="Blog">
    <p>This is where I will post about my journey learning Astro.</p>

    <ol reversed>
      {allPosts.reverse().map((post: any) =>
        <BlogPost url={post.url} data={post.frontmatter} />
      )}
    </ol>
</BaseLayout>
