---
const platform = "github";
const username = "lespacedunmatin";
---

<footer>
    <ul>
        <li>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</li>
        <li>Learn more about me on <a href="https://www.linkedin.com/in/olivierg/">LinkedIn</a></li>
        <li>Contact me on <a href="https://bsky.app/profile/lespacedunmatin.bsky.social">Bluesky</a> or <a
                href="https://piaille.fr/@lespacedunmatin">Mastodon</a></li>
    </ul>
</footer>
